<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish">
    <div fxFlex>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>{{dish.name | uppercase}}</h3>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src= "{{BaseURL + dish.image}}" alt={{dish.name}}>
        <mat-card-content>
          <p>{{dish.description}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
          <button mat-button (click)="goBack()">BACK</button>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
          <span class="flex-spacer"></span>
          <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div fxFlex="40" *ngIf="dish">
      <mat-list fxFlex>
        <h3>Comments</h3>
        <mat-list-item *ngFor="let comment of dish.comments">
          <p matLine>{{comment.comment}}</p>
          <p matLine>{{comment.rating}} Stars</p>
          <p matLine>
            <span>--{{comment.author}}</span>
            <span> {{comment.date | date: DatePipe}}</span>
          </p>
        </mat-list-item>

        <mat-list-item>
          <div [hidden]="reviewForm.invalid">
            <p matLine>{{comment}}</p>
            <p matLine>{{rating}} stars</p>
            <p matLine>--{{name}}</p>
          </div>
        </mat-list-item>

          <form novalidate [formGroup]="reviewForm" (ngSubmit) = 'onSubmit()'>

            <mat-form-field class="half-width">
                <input matInput formControlName="name" type="text" placeholder="Name" required [(ngModel)] = "name">
                <mat-error *ngIf="reviewFormErrors.name">{{reviewFormErrors.name}}</mat-error>
            </mat-form-field>

            <p matLine>
              <mat-slider id="sldr" min="0" max="5" step="1" value="5" thumbLabel tickInterval="1" [(ngModel)]="rating"></mat-slider>
            </p>

            <mat-form-field class="full-width">
              <textarea id="txtarea" matInput formControlName="comment" placeholder="Comment" rows="12" [(ngModel)]="comment"></textarea>
              <mat-error *ngIf="reviewFormErrors.comment">{{reviewFormErrors.comment}}</mat-error>
            </mat-form-field>

            <button mat-button class="background-primary text-floral-white" [disabled]="reviewForm.invalid">Submit</button>
          </form>
      </mat-list>
  </div>
  <div [hidden]="dish || errMess">
    <mat-spinner></mat-spinner>
    <h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
</div>
